<!DOCTYPE HTML>
<html>
  <head>
    <title>Stats Shop</title>
    <link rel='shortcut icon' type='image/x-icon' href='favico2.ico'>
    <link rel='stylesheet' href='../css/main.css'>
    <link rel='stylesheet' href='../css/fontawesome-free-5.7.2-web/css/all.min.css'>
  </head>
  <body>
    <h1>Shop</h1>
    <h5 id='extras' class=''></h5>
    
    <section name='shop'>
      <div>
        <table>
          <thead>
            <tr>
              <th colspan="6">
                <h3>
                  Abilities <i class='fas fa-skull-crossbones'></i>
                </h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class='money'>
              <td>Price <i class='fas fa-coins'></i></td>
              <td>5000  <i class='fas fa-coins'></i></td>
              <td>5000  <i class='fas fa-coins'></i></td>
              <td>5000  <i class='fas fa-coins'></i></td>
              <td>5000  <i class='fas fa-coins'></i></td>
              <td>5000  <i class='fas fa-coins'></i></td>
            </tr>
            <tr class='selection'>
              <td>Select <i class='far fa-swords'></i></td>
              <td><button name='defense'>Defense</button></td>
              <td><button name='health'>Health</button></td>
              <td><button name='magic'>Magic</button></td>
              <td><button name='speed'>Speed</button></td>
              <td><button name='strength'>Strength</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    
    <section name='player'>
      <div name='flask and gold'>
        <h5 class='money'>Gold: 
          <span class='gold'>0</span>
          <i class='fas fa-coins'></i>
        </h5>
      </div>
      
      <div name='self'>
        <!-- DO NOT ADD MORE SPANS -->
        <ul class='self'>
          <li class='race'>Race: 
            <span id='species' name='type'></span>
          </li>
          <li  class='def'>Defense:  
            <span name='defense'></span>
            <i class='fas fa-shield-alt'></i>
          </li>
          <li   class='hp'>Health:
            <span name='health'></span>
            <i class='fas fa-heart'></i>
          </li>
          <li  class='mgk'>Magic:
            <span name='magic'></span>
            <i class='fas fa-scroll'></i>
          </li>
          <li  class='spd'>Speed:
            <span name='speed'></span>
            <i class='fas fa-feather-alt'></i>
          </li>
          <li  class='str'>Strength:
            <span name='strength'></span>
            <i class='fas fa-fist-raised'></i>
            <!-- Working on icons and also going to add a 2nd line of items-->
          </li>
        </ul>
        <button class='leave' name='leave'>Leave?</button>
        <button class='kit'   name='kit'>Check kit?</button>
      </div>
    </section>
    
    
    
    <script src='../js/contructors/abilities.js'></script>
    <script src='../js/shopStats.js'></script>
    <script src='../js/icon.js'></script>
  </body>
</html>